<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="header-class">
        <button type="button-header" onclick="window.location.href = '/'">Home Page</button>
        <button class="buttons" onclick="window.location.href = '/auth/registration'">Registration</button>
    </div>
</header>
<div class="snippet-container">
    <form name="f" method="POST" action="/process_login">

        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>

        <label for="username">Enter username: </label>
        <input type="text" name="username" id="username">
        <br/>
        <label for="password">Enter password: </label>
        <input type="password" name="password" id="password">
        <br/>
        <input type="submit" value="Login">

        <div th:if="${param.error}" style="color: red; margin-top: 10px;">Error pass</div>
    </form>
</div>
</body>
</html>