<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<header>
    <div class="header-class">
        <button type="button-header" onclick="window.location.href = '/admin/users'">Go to All Users</button>
        <button type="button-header" onclick="window.location.href = '/'">Home Page</button>
        <div>
            <form type="button-header" th:action="@{/logout}" th:method="POST">
                <button class="logout" type="submit">Logout</button>
            </form>
        </div>
    </div>

</header>
<h1>User, welcome spring boot security page!</h1>
</body>
</html>